@model PageModel

@Html.Raw(Model.Content)

@if (Model.TreeItem.Children.Count > 0)
{
    <ul>
        @foreach (var child in Model.TreeItem.Children)
        {
            <li>
                <a href="@Url.Content($"~{child.BasePath}/{System.IO.Path.GetFileNameWithoutExtension(child.Data.Name)}")">
                    @($"{child.BasePath}/{System.IO.Path.GetFileNameWithoutExtension(child.Data.Name)}")
                </a>
            </li>
        }
    </ul>
}